@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-maps-wrapper{

	background: white;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding-top: 4px;


	.headline{
		font-size: 20px;
		line-height: 24px;
		font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
		font-weight: 900;
		margin-bottom: 1.5px;
	}
	.standfirst{
		font-size: 16px;
		line-height: 24px;
		font-family: "Guardian Text Egyptian Web",Georgia,serif;
		margin-bottom: 12px;
		font-weight: 300;
		margin: 0;
	}



	.interactive-maps-wrapper-maps{

		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;
		//justify-content: space-between;
		

	    .map{

	    	//max-width: calc(25% - 10px);

	    	margin-right: 5px;

	    	border-top: 1px solid #dcdcdc;
		    //flex-basis: calc(33% - 10px);

		    @include mq(mobile) {
	            flex-basis: calc(100%);
	        }

		    @include mq(tablet) {
		        flex-basis: calc(50% - 2.5px);
		    }
		    @include mq(desktop) {
		        flex-basis: calc(33% - 10px);
		    }

		    h3{
		    	margin-top: 12px;
		    	font-size: 18px;
				line-height: 12px;
				font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
				font-weight: 900;
				margin-bottom: 1px;
		    
    		}

    		canvas{
    			width: 100%;
    		}


    		.map-standfirst, .total{
				@include fs-textSans(2);
			    margin-bottom: 3px;
			    margin: 0;
			    margin-top: 6px;
			}
			.map-standfirst{
				margin: 0px;
			}

    	}

    	

	


    //max-width: calc(33% - 10px);

        /* @include mq($until: tablet) {
            flex-basis: calc(50% - 2.5px);
        } */

	}

	

    

}

