<div id="filters" class='uit-filters'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-filters__intro'>
                <h2 class='uit-filters__title'>Choose a predator:</h2>
            </div>
            <div class='uit-filter-set-wrapper'>
                <div class='uit-filter' data-filter='county-level' style="background-color: #ededed; margin: 5px; display: inline-block;">county-level</div>
                <div class='uit-filter' data-filter='state-level' style="background-color: #ededed; margin: 5px; display: inline-block;">State-level</div>
            </div>
        </div>
    </div>
</div>
