.interactive-atom {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.interactive-wrapper{
	max-width: 860px;
}


.x.axis, .y.axis{

	.tick line{

			color: #dcdcdc;

			stroke-width: .5px;

	}

	text{
		font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 16px;
	    text-align: left;
	    fill: rgb(146,146,151);
	    font-style: normal;
	}
}

.y.axis .tick:first-child{

	line{

			color: #333;

			stroke-width: 1px;

	}

}

.headline{
	font-size: 20px;
	line-height: 24px;
	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
	font-weight: 900;
	margin-bottom: 1.5px;
	margin-bottom: 6px;
}
.timestamp{	
	font-size: 16px;
	line-height: 0px;
	font-family: "Guardian Text Egyptian Web",Georgia,serif;
	margin-bottom: 12px;
	font-weight: 300;
}
.source{
	padding: 6px 0 6px 0;
	margin: 0;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color:#767676;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}