<div class="interactive-compared-external-wrapper">
	<div class="gv-totals-headline">
		<div class="gv-headline-container">
			<h3>Coronavirus updates</h3>
		</div>

		<div class="gv-button-container">
			<a target="_top" href='https://www.theguardian.com/world/ng-interactive/2020/mar/04/coronavirus-map-cases-how-covid-19-is-spreading'>
				<button type="button" class="css-1fwuswj">More data</button>
			</a>
		</div>

		<div class="gv-totals-container"></div>
		
		<div class="gv-totals-timestamp"></div>
		
	</div>
	
</div>