@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
	margin: 0;
	padding: 0;
}

.interactive-compared-external-wrapper{

	

	background: white;

	
}
.gv-totals-headline{
	width: 100%;

	max-width: 860px;

	display: flex;

	flex-direction: column;

	margin-bottom: 6px;
}

.gv-headline-container{
	order:1;

	justify-content: flex-start;

	h3{
		font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		font-size: 21px;
		margin:6px;
	}

	@include mq($from: 100px, $until: 500px) {width: 100%;}
}

.gv-button-container{
	order: 2;

	align-self: flex-end;

	position: absolute;

	justify-content: flex-start;
	@include mq($from: 100px, $until: 500px) {
		order: 4;

		position: relative;

		margin-top: 6px;
		//align-self:flex-end;

		//width: 100%;
	}
}


.gv-totals-container{

	order: 3;

	display: flex;

	width: 100%;

	//max-width: 860px;

	border-top: 2px solid #c70000;

	@include mq($from: 100px, $until: 500px) {
		flex-direction: column;

		border-top: none;
	}

	@include mq($from: 100px, $until: 500px) {

		width: 100%;
	}

	.gv-total-container{

		padding: 6px 0 6px 6px;
		width: 33%;
		border-bottom: 1px solid #dcdcdc;
		border-right: 1px solid #dcdcdc;

		@include mq($from: 100px, $until: 500px) {
			width: calc(100% - 20.5px);
			border-right: none;
		}

		span{

			font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
			font-variant-numeric: lining-nums;
			font-size:48px;
			line-height: 40px;

			@include mq($from: 100px, $until: 500px) {
				font-size:36px;
			}

		}
		p{
			font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
			font-size: 14px;
			margin:0;
		}
	}

}

.gv-totals-timestamp{
	order:4;

	@include mq($from: 100px, $until: 500px) {
		order: 3;
	}
}



.interactive-compared-external-wrapper .gv-total-container:nth-child(1){
	border-left: 1px solid #dcdcdc;

	@include mq($from: 100px, $until: 500px) {
		border-left: none;
		border-top: 2px solid #c70000;
	}
}

.gv-totals-timestamp{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 12px;
	margin:0;
	font-weight: 900;
}

.css-1fwuswj {
    display: inline-flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    font-family: GuardianTextSans, Guardian Text Sans Web, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    box-sizing: border-box;
    border: medium none;
    background: 
	rgb(18, 18, 18) none repeat scroll 0% 0%;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	text-decoration: none;
	height: 31px;
	min-height: 31px;
	padding: 0px 12px;
	border-radius: 22px;
	color:rgb(255, 255, 255);
}



